* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    background-color: #5D3FD3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 5rem;
    background-color: #161623aa;
    margin-top: 1rem;
    border-radius: 2rem;
    color: #fff;
}

.presentation img {
    /* width: 30rem; */
    height: 30rem;
    border-radius: 2rem;
}

.presentation p {
    font-size: 3rem;
    text-align: center;
    width: 60%;
    padding: 1rem;
}

.dinamicContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.historyCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 13rem 2rem 8rem;
    padding: 0rem 2rem 2rem 2rem;
    background-color: #161623aa;
    border-radius: 3rem;
    color: #fff;
}

.historyCardContainer h1 {
    font-size: 3.5rem;
    font-weight: bold;
    display: block;
    padding: 2rem 0rem 4rem 0rem;

}

.historyCard {
    display: flex;
    align-items: center;
}

.historyCard img{
    height: 30rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.historyCard p {
    font-size: 3rem;
    text-align: center;
    width: 60%;
}

aside {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

aside a {
    font-size: 3rem;
    color: #fff;
    background-color: #161623aa;
    text-decoration: none;
    padding: 0rem 1rem;
    border-radius: 3rem;
}

[data-animation] {
    opacity: 0;
    transition: all 1s ease-in-out;
}

[data-animation="left"] {
    transform: translate3d(-100vw, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(100vw, 0, 0);
}

[data-animation="bottom"] {
    transform: translate3d(0, 50vh, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}