* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    background-color: #5D3FD3;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.presentation {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem 5rem;
    background-color: #161623aa;
    margin: 3rem 0rem;
    border-radius: 2rem;
    color: #fff;
}

.presentation img {
    height: 30rem;
    border-radius: 2rem;
}

.presentation p {
    font-size: 3rem;
    text-align: center;
    width: 60%;
    padding: 1rem;
}

.dinamicContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.historyCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 13rem 2rem 8rem;
    padding: 0rem 2rem 2rem 2rem;
    background-color: #161623aa;
    border-radius: 3rem;
    color: #fff;
}

.historyCardContainer h1 {
    font-size: 3.5rem;
    font-weight: bold;
    display: block;
    padding: 2rem 0rem 1rem 0rem;
}

span {
    font-weight: bold;
}

.historyCardContainer p {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
}

.historyCard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.historyCard img{
    height: 30rem;
    border-radius: 2rem;
    margin-right: 2rem;
    background: #000;
    width: 30rem;
    object-fit: cover;
}

.historyCard p {
    font-size: 2.6rem;
    text-align: center;
    width: 60%;
}

#firstImg {
    width: 40rem;
}

aside {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

aside a {
    font-size: 3rem;
    color: #fff;
    background-color: #161623aa;
    text-decoration: none;
    padding: 0rem 1rem;
    border-radius: 3rem;
}

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F0F8ee;
    padding: 1rem 0rem;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}

[data-animation] {
    opacity: 0;
    transition: all 1s ease-in-out;
}

[data-animation="left"] {
    transform: translate3d(-100vw, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(100vw, 0, 0);
}

[data-animation="bottom"] {
    transform: translate3d(0, 50vh, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 2800px) and (min-width: 2049px){
    .responsiveContainer {
        width: 144rem;
        max-width: 100%;
    }

    .presentation {
        margin-top: 9rem;
    }
    
    .presentation p {
        font-size: 4rem;
    }

    aside {
        padding: 7rem 0rem 1rem;
    }

    aside a {
        font-size: 5rem;
        padding: 0rem 2rem;
    }

    [data-animation] {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .historyCardContainer {
        padding: 0rem 2rem 5rem 5rem;
    }

    .historyCardContainer h1 {
        font-size: 4.5rem;
    }

    .historyCard p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 2048px) and (min-width: 1632px){
    .contentContainer {
        width: 80%;
    }

    .presentation {
        margin-top: 9rem;
    }

    .presentation p {
        font-size: 3rem;
    }

    aside a {
        font-size: 4rem;
        padding: 1rem 2rem;
    }

    .historyCardContainer h1 {
        font-size: 3.5rem;
        font-size: 2.6rem;

    }

    .historyCard p {
        font-size: 3rem;
    }

    [data-animation] {
        opacity: initial;
        transform: initial;
    }
}

@media screen and (max-width: 1631px) and (min-width: 1024px){
    .presentation p {
        font-size: 2.5rem;
       }
    
    aside a {
    font-size: 3rem;
    padding: 1rem 1rem;
    }

    .historyCardContainer h1 {
    font-size: 3rem;
    }
}

@media screen and (max-width: 1023px) and (min-width: 900px){
   .presentation p {
    font-size: 2rem;
   }

   aside a {
    font-size: 2.5rem;
    padding: 1rem 1rem;
   }

   .historyCard p {
    font-size: 2.5rem;
   }

   .historyCardContainer h1 {
    font-size: 3rem;
}
}

@media screen and (max-width: 899px) and (min-width: 830px){
    .presentation p {
        font-size: 2rem;
       }
    
    aside a {
    font-size: 2.5rem;
    padding: 1rem 1rem;
    }

    .historyCard p {
        font-size: 2rem;
    }

    .historyCardContainer h1 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 830px){
    .presentation {
        width: 70%;
        flex-direction: column;
        padding: 2rem 0rem 1rem;
    }
    
    .presentation p {
        font-size: 2rem;
        width: initial;
    }

    .presentation img {
        width: 50%;
        height: auto;
        margin-bottom: 2rem;
    }
    
    aside {
        width: initial;
        flex-direction: column;
    }

    aside a {
        font-size: 2.5rem;
        padding: 1rem 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .historyCard {
        flex-direction: column;
    }

    .historyCard p {
        font-size: 2rem;
        width: initial;
    }

    .historyCardContainer {
        margin: 13rem 0rem 0rem;
        width: 80%;
    }

    .historyCardContainer h1 {
        font-size: 2.3rem;
        text-align: center;
    }

    .historyCard img {
        margin-right: initial;
        width: 30rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .dinamicContainer {
        align-items: center;
    }
}

@media screen and (max-width: 499px){
    .presentation {
        width: 80%;
        flex-direction: column;
        padding: 2rem 0rem 1rem;
    }
    
    .presentation p {
        font-size: 2rem;
        width: initial;
    }

    .presentation img {
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
    }
    
    aside {
        width: initial;
        flex-direction: column;
    }

    aside a {
        font-size: 2rem;
        padding: 1rem 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .historyCard {
        flex-direction: column;
    }

    .historyCard p {
        font-size: 2rem;
        width: initial;
    }

    .historyCardContainer {
        margin: 13rem 0rem 0rem;
        width: 90%;
        padding: 0rem 1rem 2rem 1rem;
    }

    .historyCardContainer h1 {
        font-size: 2rem;
        text-align: center;
    }

    .historyCardContainer p {
        font-size: 2rem;
        text-align: center;
    }

    .historyCard img {
        margin-right: initial;
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
    }

    #firstImg {
        width: 80%;
    }

    .dinamicContainer {
        align-items: center;
    }
}