* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    background-color: #189bcc;
}

.contact {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.contactContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding-left: 12rem;
}

h1 {
    font-size: 10rem;
    font-weight: bold;
    color: #333333;
    font-family: "proxima nova semibold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    margin-top: 9rem;
    letter-spacing: -0.06em;
    margin-bottom: 5rem;
}

p {
    font-size: 2.6rem;
    color: #757575;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif; 
    line-height: 4rem;
}

.myPhoto {
    height: 100%;
    width: 60rem;
    opacity: 0.9;
}

.messageMeContainer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.messageMeContainer a img {
    width: 5rem;
    padding-right: 0.3rem;
}

.messageMeContainer a p {
    color: #189bcc;
}

.messageMeContainer a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-right: 2rem;
}

.messageMeContainer a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) and (min-width: 900px){
    .myPhoto {
        width: 50rem;
    }

    h1 {
        font-size: 7rem;
        margin-top: 6rem;
    }

    .contactContainer {
        padding-left: 15rem;
    }
}

@media screen and (max-width: 899px) and (min-width: 830px){
    .myPhoto {
        width: 47rem;
    }

    h1 {
        font-size: 6rem;
        margin-top: 6rem;
    }

    .contactContainer {
        padding-left: 20rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 830px){
    .myPhoto {
        width: 47rem;
        padding: 3rem 0rem 0rem 0rem;
    }

    h1 {
        font-size: 6rem;
        margin-top: 6rem;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0rem 1rem;
    }
}

@media screen and (max-width: 499px){
    .myPhoto {
        width: 70vw;
        padding: 3rem 0rem 0rem 0rem;
    }

    h1 {
        font-size: 5rem;
        margin-top: 6rem;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0rem 1rem;
    }

    .messageMeContainer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        flex-direction: column;
    }
}