* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    background-color: #4B0082;
}

.container {
    display: grid;
    grid-template-columns: minmax(24rem, 3fr) minmax(20rem, 7fr);
}

aside {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding: 1.5rem 0.3rem;
    background-color: #161623ff;
    color: #746182;
    text-align: center;
    background-color: #4B0082;
}

aside div a {
    text-decoration: none;
    padding: 1rem 0;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 5rem;
    font-weight: bold;
    line-height: 3rem;
}

aside div a:hover {
    padding: 1.4rem;
    background-color: #eee;
}

aside div h2 {
    padding: 1rem 0 1.5rem;
    color: #F0F8ee;
}

.frontEndContainer, .backEndContainer {
    display: flex;
    flex-direction: column;
}

#dinamicContent {
    padding: 0rem 2rem;
    background-color: #4B0082;
    font-size: 2rem;
    text-align: center;
}

#dinamicContent div h2 {
    color: #fff;
    font-weight: 800;
}

#dinamicContent h3 {
    font-weight: 800;
    padding-bottom: 1rem;
}

#dinamicContent div p {
    margin: 0rem 0rem 2rem;
    /* display: none; */
}

#dinamicContent h4 {
    font-weight: 700;
    margin: 0rem 0 0.5rem;
}

#dinamicContent div{
    background-color: #161623aa;
    color: #fffd;
    border-radius: 1rem;
    margin: 3rem 0;
    padding: 1rem 0.5rem 1rem;
}

footer {
    width: 100%;
    font-size: 2rem;
    color: #fff;
    background-color: #161623aa;
    text-align: center;
}

@media screen and (max-width: 2800px) and (min-width: 2049px){
    #dinamicContent {
        font-size: 3rem;
    }

    aside {
        font-size: 4rem;
        padding: 1.5rem 4.3rem;
    }

    aside div a {
        padding: 1rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 1.5rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 3rem 1rem;
    }

    footer {
        font-size: 4rem;
    }
}

@media screen and (max-width: 2048px) and (min-width: 1632px){
    .contentContainer, #more {
        width: 90%;
    }

    #dinamicContent {
        font-size: 3rem;
        padding: 2rem;
    }

    aside {
        font-size: 4rem;
    }

    aside div a {
        padding: 1.5rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 2rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 3rem 1rem;
    }

    footer {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1631px) and (min-width: 1024px){
    .contentContainer, #more {
        width: 100%;
    }

    #dinamicContent {
        font-size: 2rem;
        padding: 2rem;
    }

    .container {
        padding-left: 2rem;
    }

    aside {
        font-size: 3rem;
    }

    aside div a {
        padding: 0.5rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 1rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 2rem;
    }

    footer {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1023px) and (min-width: 900px){
    .contentContainer, #more {
        width: 100%;
    }

    #dinamicContent {
        font-size: 2rem;
        padding: 2rem;
    }

    .container {
        padding-left: 2rem;
    }

    aside {
        font-size: 3rem;
    }

    aside div a {
        padding: 0.5rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 1rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 2rem;
    }

    footer {
        font-size: 2rem;
    }
}

@media screen and (max-width: 899px) and (min-width: 830px){
    .contentContainer, #more {
        width: 100%;
    }

    #dinamicContent {
        font-size: 2rem;
        padding: 2rem;
    }

    .container {
        padding-left: 2rem;
    }

    aside {
        font-size: 3rem;
    }

    aside div a {
        padding: 0.5rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 1rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 2rem;
    }

    footer {
        font-size: 2rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 830px){
    .contentContainer, #more {
        width: 100%;
    }

    #dinamicContent {
        font-size: 2rem;
        padding: 2rem;
    }

    .container {
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        width: 85%;
        height: 64vh;
        overflow-y: scroll;
        background-color: #1616239a;
        border-radius: 3rem;
        padding: 1rem 6rem;
        margin-top: 5rem;

    }

    aside div a {
        padding: 0rem 0;
        line-height: 5rem;
    }

    aside div a:hover {
        padding: 0.3rem;
        background-color: #eee;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 2rem;
    }

    footer {
        font-size: 2rem;
    }
}

@media screen and (max-width: 499px){
    .contentContainer, #more {
        width: 100%;
    }

    #dinamicContent {
        font-size: 2rem;
        padding: 1rem;
    }

    #dinamicContent div h2 {
        font-size: 2rem;
    }

    .container {
        padding-left: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    aside {
        display: flex;
        flex-direction: column;
        font-size: 2.5rem;
        width: 85%;
        height: 50vh;
        overflow-y: scroll;
        background-color: #1616239a;
        border-radius: 3rem;
        padding: 1rem 3rem;
        margin-top: 2rem;

    }

    aside div a {
        padding: 0.5rem 0;
        line-height: 3rem;
    }

    aside div h2 {
        font-size: 3rem;
    }

    #dinamicContent div {
        border-radius: 6rem;
        padding: 1rem 2rem;
    }

    #dinamicContent div h1 {
        margin: 0rem auto 1rem;
    }

    aside div a:hover {
        padding: 1rem;
        background-color: #eee;
    }

    footer {
        font-size: 2rem;
    }
}