* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    background-color: #800020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  font-size: 2.5rem;
  background-color: aqua;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#dinamicContent {
  width: 100%;
  background-color: #fff;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.card {
  width: 60rem;
  font-size: 2rem;
  padding: 2rem;
  background-color: #EEEEEE;
  margin: 1rem;
  overflow: hidden;
  border-radius: 2rem;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
}

.card p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.card img {
  height: 20rem;
  border-radius: 1rem;
}

.card a {
  text-decoration: none;
  padding: 1rem 0rem;
}

.links {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #fff;
}