* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    max-width: 100%;
    background-color: #800020;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
  font-size: 2.5rem;
  background-color: aqua;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3rem;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

h2 {
  padding: 1rem 0 1.5rem;
  color: #f0f8ee;
}

.container a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 5rem;
  font-weight: 700;
  line-height: 3rem;
}

#dinamicContent {
  width: 100%;
  background-color: #fff;
  margin-top: 2rem;
  text-align: center;
  font-size: 2.5rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  background-color: #800020;
  padding: 0rem 2rem;
}

.card {
  width: 60rem;
  font-size: 2rem;
  padding: 2rem;
  background-color: #ddd;
  margin: 1rem;
  overflow: hidden;
  border-radius: 2rem;
}

.card h3 {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2rem;
}

.card p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.card img {
  border-radius: 1rem;
  width: 90%;
}

.card a {
  text-decoration: none;
  padding: 1rem 0rem;
}

.links {
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #eee;
  width: 20rem;
  justify-content: center;
  border-radius: 3rem;
}

.bar {
  margin: 0rem 0.3rem;
}

.card a:hover {
  opacity: 0.7;
}

footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #F0F8ee;
  padding: 1rem 0rem;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
}