header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 0rem 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

header a h2 {
    font-size: 2.5rem;
    color: #F0F8ee;
    padding: 2.5rem 1.5rem;
}

header a{
    text-decoration: none;
}

header a h2:hover {
    color: #fff;
}

header ul {
    display: flex;
}

header a li{
    padding: 2.5rem 1.5rem;
    color: #F0F8ee;
    display: inline-block;
    list-style: none;
}

header li:hover {
    color: #262626;
    background-color: #fff;
    transition: border-radius 0.2s linear;
    border-radius: 1rem;
}


.substituteH2 {
    display: none;
}

header.on .substituteH2 {
    display: none;
}

header.on .mainH2{
    display: none;
}

header.on .menuToggle {
    position: fixed;
    right: 3rem;
    top: 3rem;
}

header.on .menuToggle .one {
    transform: rotate(45deg) translate(7px, 7px);
}

header.on .menuToggle .two {
    opacity: 0;
}

header.on .menuToggle .three {
    transform: rotate(-45deg) translate(9px, -8px);
}

header.on {
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

header.on nav {
    display: initial;
    z-index: 6;
    color: #fff;
}

header.on nav ul {
    display: flex;
    flex-direction: column;
}

header.on nav ul a li {
    color: #fff;
    padding: 0.5rem 0rem;
    text-align: center;
    padding: 1rem;
    background-color: #ff0047;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

body.on {
    overflow: hidden;
}

body.on #scrollPath {
    display: none;
}


@media screen and (max-width: 2800px){
    body {
        display: flex;
        justify-content: center;
    }
    
    .headerContainer {
        width: 80%;
    }
}

@media screen and (max-width: 2048px){
    body {
        display: flex;
        justify-content: center;
    }
    
    .headerContainer {
        width: 70%;
    }
}

@media screen and (max-width: 1631px){
    body {
        display: flex;
        justify-content: center;
    }
    
    .headerContainer {
        width: 100%;

    }

    .mainH2 {
        display: initial;
    }

    .substituteH2 {
        display: none;
    }
}

@media screen and (max-width: 1151px){
    .mainH2 {
        display: none;
    }

    .substituteH2 {
        display: initial;
    }
}

@media screen and (min-width: 900px) and (max-width: 1023px){
    .mainH2 {
        display: none;
    }

    .substituteH2 {
        display: none;
    }

    header {
        justify-content: center;
    }
}

@media screen and (min-width: 830px) and (max-width: 899px){
    .mainH2 {
        display: none;
    }

    .substituteH2 {
        display: none;
    }

    header {
        justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 830px){
    .mainH2 {
        display: initial;
    }

    header {
        justify-content: space-between;
    }

    .substituteH2 {
        display: none;
    }

    header nav {
        display: none;
    }

    .menuToggle {
        width: 4rem;
        height: 3rem;

    }

    .one, .two, .three {
        background-color: #fff;
        height: 0.5rem;
        width: 100%;
        margin: 0.6rem auto;
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 499px){
    .substituteH2 {
        display: initial;
    }
    
    .mainH2 {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    .menuToggle {
        width: 4rem;
        height: 3rem;
    }

    .one, .two, .three {
        background-color: #fff;
        height: 0.5rem;
        width: 100%;
        margin: 0.6rem auto;
        transition-duration: 0.5s;
    }
}