:root {
    --primary-color : #161623ff;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    padding: 0rem 3rem;
    background-color: rgba(255, 255, 255, 0.1);
}

header a h2 {
    font-size: 2.5rem;
    color: #F0F8ee;
    padding: 2.5rem 1.5rem;
}

header a{
    text-decoration: none;
}

header a h2:hover {
    color: #fff;
}

header ul {
    display: flex;
}

header a li{
    padding: 2.5rem 1.5rem;
    color: #F0F8ee;
    display: inline-block;
    list-style: none;
}

header li:hover {
    color: #262626;
    background-color: #fff;
    transition: border-radius 0.2s linear;
    border-radius: 1rem;
}

.aboutMe {
    padding: 13rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    inset: -1rem 14rem;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.container:hover::before {
    inset: -2rem 0rem;
}

.container::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    inset: 0.8rem;
    border-radius: 50%;
}

.imgContainer {
    position: absolute;
    background-color: #fff;
    inset: 3rem;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.imgContainer img {
    position: absolute;
    left: 1.2rem;
    width: 106%;
    top: -7rem;
    object-fit: cover;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.whoAmIContainer {
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}

.whoAmI {
    font-size: 3rem;
    background: -webkit-linear-gradient( #00ccff, #d400d4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 5rem;
}

.whoAmI h4 {
    padding: 2rem;
    background-color: #fff;
}

.btnContainer {
    width: 100%;
}

.btn {
    font-size: 3rem;
    padding: 1rem 1rem;
    border-radius: 3rem;
    background: linear-gradient( #00ccff, #d400d4);
    border: none;
}

.btn:hover {
    opacity: 0.8;
}


.btn a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn a:active{
    opacity: 0.5;
}

.conhecimentos {
    background-color: var(--primary-color);
}

.conhecimentos h2 {
    display: block;
    font-size: 4rem;
    text-align: center;
    color: #F0F8ee;
    font-weight: bold;
    padding-top: 4rem;
}

.containerStacks {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    text-align: center;
    background-color: #161623f0;
}

.frontEndContainer, .backEndContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 31rem));
    color: rebeccapurple;
    background-color: #161623f0;
    gap: 2rem;
    padding: 0 1.7rem;
    justify-content: center;
    padding: 0rem 0 2rem;
}

.backEndContainer {
    width: 100%;
    display: grid;
}

.containerStacks h3 {
    padding: 3rem 0 2rem;
    font-size: 4rem;
    font-weight: bold;
    color: #f0f8ee;
}

.card {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem 1rem 0rem;
    position: relative;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    color: #F0F8FF;
    padding-bottom: 3rem;
    transition: 0.5s;
    transform: translateY(1.5rem);
}

.card:hover{
    transform: translateY(0px);
    background: linear-gradient(90deg, rgba(23,0,99,1) 0%, rgba(85,29,199,1) 100%);
    
}

.card h4 {
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 4rem;
    margin: 1rem 0 2rem;

}

.card a {
    display: block;
    text-decoration: none;
    background-color: #F0F8FF;
    border-radius: 1.5rem;
    width: 80%;
    padding-top: 1rem;
    margin: 1rem auto 0rem;
    height: 5rem;
    color: #7b68ee;
    font-weight: bold;
    
}

.card a:hover {
    background-color: #161623a0;
}

.p2 {
    margin: 3rem auto 0;

}

.card img {
    width: 50%;
    z-index: -1;
}

footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #F0F8ee;
    padding: 1rem 0rem;
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}

@media screen and (min-width: 770px) and (max-width: 1004px){
    .frontEndContainer {
        grid-template-columns: repeat(3, minmax(27rem, 27rem));
    }
}